.nyc_output
.compiler_cache
/node_modules
dist
docs
coverage
*.tgz
src/compile/inference/file_level_definitions_parser.ts
src/ast/comments/comments_parser.ts
test/utils/typeStrings/typeString_parser.ts
.idea
